* {
    margin: 0;
}

body {
    font-family: Raleway, Helvetica, Arial, Sans-Serif;
    color: black;
}

header {
    position: relative;
    width: 100vw;
    height: 70vh;
}

#header-text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}

#title {
    margin: 0;
    font-size: 2.2em;
}

svg {
    position: relative;
    width: 20vh;
    height: 20vh;
    animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}